* {
    margin: 0;
    padding: 0;
}
.social-icon
{
    text-align: center;
    width: 16px;
    height: 16px;
    border: white 1px solid;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;

}

.social-icon:hover
{
    color: #00e0d0;
    border-color: #00e0d0;
}

.font-size-1em
{
    font-size: 1em !important;
}

.background-image-video {
    background: url("../images/video.png");
    background-size: cover;
}

.background-image {
    background: url(../images/Background.png);
    height: 650px;
    background-size: cover;
}

.background-image-footer {
    background: url("../images/background-footer.png");
    height: 350px;
}

.w-full {
    width: 100%;
}



.d-flex {
    display: flex;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    padding-top: 15px;
    display: flex;
}

.font-size-13{
    font-size: 13px;
}

.mt-auto
{
    position:relative;
    margin-top:auto;
}
.fa{
    margin-right: 3px;
    color: white;
}
.ml-auto{
    position:relative;
    margin-left:auto;
}
ul {
    list-style-type: none;
}

h1, h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.color-white {
    color: white;
}

.btn {
    border: 2px solid #00e0d0;
    background-color: transparent;
    padding: 15px;
    color: #00e0d0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}
.mt-20{
    margin-top: 20px;
}

.mr-50{
    margin-right:50px ;
}

.mr-100 {
    margin-right: 100px;
}

.learn-more-margins {
    position: relative;
    top: 30px;
    left: 550px;
}

.text-align-center {
    text-align: center;
    display: block;
}

.text-align-left {
    text-align: left;
    display: block;
}

.block {
    margin: 100px;
}

.card-image {
    width: 100px;
    height: 100px;
}

.color-black {
    color: #413d4b;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.brand-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #00e0d0;
    margin: 20px;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
    margin: 20px;
    cursor: pointer;
}


.footer-link{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
.nav-link-selected {
    color: #00e0d0;
}

.footer-link:hover{
    color: #00e0d0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify {
    justify-content: space-between;
}

.team-card {
    text-align: center;
    border: white solid 1px;
    border-radius: 2px;
}

.mb-40 {
    margin-bottom: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.pl-50{
    padding-left: 50px;
}
.ml-100{
    margin-left: 100px;
}

.pt-65{
    padding-top: 65px;
}

.size-200 {
    width: 200px;
    height: 200px;
}

.card {
    margin-top: 30px;
    text-align: center;
}

.m-40 {
    margin: 40px;
}

.width-320 {
    width: 320px;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.d-block {
    display: block;
}

label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.name-margin {
    margin-bottom: 3px;
    margin-top: 10px;
}

.nav-link:hover {
    color: #00e0d0;
}

.btn:hover {
    background-color: #00e0d0;
    color: #413d4b;
}

.btn {
    cursor: pointer;
}

.video {
    width: 100%;
}

.mb-10 {
    margin-bottom: 10px;
}

.mx-100 {
    margin-left: 100px;
    margin-right: 100px;
}

.round-play-button {
    position: absolute;
    left: 760px;
    top: 1550px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.form-control
{
    border: #e5e5e5 1px solid;
    color: #413d4b;
    padding: 7px;
    resize: none;
    display: block;
    margin-bottom: 15px;
}
.form-control:focus
{
    outline: none;
    border: 2px solid #ced4da;
}
.watch-story
{
    position: absolute;
    top: 1660px;
    left: 730px;
}

.width-250{
    width: 250px;
}
.ml-200
{
    margin-left: 200px;
}
.width-400
{
    width: 400px;
}
.logo {
    margin-right: 100px;
    width: 120px;
}

.pt-15{
    padding-top: 15px;
}

.roboto{
    font-family: "Roboto", sans-serif;
}

.footer-control
{
    background-color: transparent;
    padding: 10px;
    border: #e5e5e5 1px solid;
    color: #e5e5e5;
}

.btn-send
{
    width: 60px;
    margin-left: 15px;
    padding: 3px;
    height: 40px;
    object-fit: contain;
    background-color: rgba(155,147,174,0.4);

    cursor: pointer;
}

.btn-send:hover
{
    background-color: rgba(155,147,174,0.6);
}

.footer-control:focus
{
    outline: none;
    border: 1px solid #00e0d0;
}

